.red { color: #FF0000; text-shadow: 0 0 20px #FF0000; }
.green { color: #00FF00; text-shadow: 0 0 20px #00FF00; }
.aqua { color: #00FFFF; text-shadow: 0 0 20px #00FFFF; }
.yellow { color: #FFFF00; text-shadow: 0 0 20px #FFFF00; }
.fuschia { color: #FF00FF; text-shadow: 0 0 20px #FF00FF; }
.orange { color: #FFA500; text-shadow: 0 0 20px #FFA500; }

.sidebar {
  color: white;
  height: 100%;
  width: 250px;
  margin: 20px auto;
  text-align: left;
  font-family: "Times New Roman", Times, serif;
  padding-top: 5px;
  border: 3px double white;
  }

.container {
  display: flex;
  justify-content: center;   /* center both horizontally */
  align-items: flex-start;   /* align at the top */
  max-width: 1000px;
  margin: 0 auto;
  }
  
.content {
  padding: 10px;
  text-align: center;
  }

body {
  background-color: black;
  background-image: url("https://images.unsplash.com/photo-1636155360565-3b8cf5c082a7?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: repeat;
  background-attachment: fixed;
  color: white;
  margin: 20px;
}

.box {
  border: 3px double white;
  background-color: black;
  color: white;
  width: 500px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

.box-status {
  border: 4px double red;
  box-shadow: 0 0 15px red;
  width: 400px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  font-family: "Press Start 2P", monospace;
}

@media screen and (max-width: 700px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 90%;
    order: 2;
  }

  .content {
    order: 1;
  }
  
  .box {
    width: 87%;
  }
}
