.sidebar {
  color: white;
  height: 100%;
  width: 160px;
  margin: 20px;
  text-align: left;
  }

.container {
  display: flex;
  }
  
.content {
  flex: 1;
  padding: 10px;
  text-align: center;
  }

body {
  background-color: black;
  background-image: url("https://images.unsplash.com/photo-1636155360565-3b8cf5c082a7?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: repeat;
  background-attachment: fixed;
  color: white;
  font-family: "Times New Roman", Times, serif;
  margin: 20px;
}

.box {
  border: 3px double white;
  background-color: black;
  color: white;
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 15px white;
}
